@media screen and (min-width: 1440px){
    /* navbar */
    .position{
        position: fixed;
        margin: 0;
        width: 100%;
        z-index: 99;
    }
    .list1{
        display: flex;
        padding: 0;
        background-color: #2e3f22;
        list-style: none;
    }
    .imgNav{
        width: 140px;
        height: 50px;
    }
    .imgNav img{
        width: 100%;
        height: 100%;
    }
    
    li a{
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    .list1 > :nth-child(1){
        margin-left: 3%;
    }
    .list1 > :nth-child(2){
        margin-left: 40%;
    }
    .list1 > :nth-child(5){
        margin-right: auto;
    }
    li a:hover {
        background-color: #0af82eec;
    }
    /* content */
    .bodyimage {
        background: url("../img/DSC_5042.JPG");
        height: 700px;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        text-align: center;
        padding-top: 300px;
        box-sizing: border-box;
        width: 100%;
    }
    h1{
        font-size: 24pt;
    }
    .tittle1-pos{
        margin-bottom: 50px;
    }
    .tittle1{
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        color: white;
        text-align: center;
    }
    .tittle1-2{
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        color: white;
        text-align: center;
    }
    .content1{
        color: white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }


    /* contentimg1 */
    section.post {
        overflow: hidden;
        background-color: #799A78;
        padding-top: 80px;
    }
    .contentimg1{
        height: 700px;
        width: 100%;
        display: flex;
        box-sizing: border-box;
        flex-direction: row;
        justify-content: space-around;
    }

    .conimg1{
        flex-basis: 300px;
        position: relative;
        border: 1px solid black;
        height: 400px;
        background-color: white;
        display: block;
    }
    .img1{
        width: 99.7%;
        height: 200px;
        background-color: black;
    }
    .img1 img {
        width: 100%;
        height: 100%;
    }
    .boxdate{
        position: absolute;
        bottom: 0;
        border: 1px solid black;
        width: 99.9%;
    }
    h3{
        font-size: 18pt;
    }
    .date-text{
        font-size: 14pt;
    }
    .style-button:active{
        background-color: yellowgreen;
    }
    
    .style-button{
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 25px;
    }
    .button{
        float: right;
        margin-right: 20px;
    }
    .more{
        width: 100%;
        text-align: center;
    }
    /* section3 */
    section.post2{
        overflow: hidden;
        background-color: rgb(127, 155, 126);
        padding-top: 100px;
    }
    
    .Wis1{
        padding-top: 190px;
        width: 100%;
        height: 700px;
        display: flex;
        box-sizing: border-box;
        flex-direction: row;
        justify-content: space-around;
        
    }
    .wisimg1-img {
        width: 350px;
        height: 270px;
        box-shadow: 10px 10px rgba(8, 8, 8, 0.541);
    }
    .wisimg1-img img {
        width: 100%;
        height: 100%;
    }
    .tittle3{
        text-align: center;
        font-size: 2rem;
        color: white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
    section.post3{
        overflow: hidden;
        background-color: rgb(110, 156, 109);
        padding-top: 100px;
    }
    .tittle4{
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        color: white;
        text-align: center;
        
    }
    .tittle4-2{
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        color: white;
        text-align: center;
        padding-bottom: 80px;
    }
    .box-content{
        border: 1px solid black;
        padding-top: 90px;
        width: 100%;
        height: 700px;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        flex-direction: row;
        justify-content: space-around;
    }
    .box2-content{
        border: 1px solid black;
        width: 700px;
        height: 500px;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: space-around;
    }
    .img-content1{
        display: flex;
        border: 1px solid black;
        width: 100%;
        height: 170px;
        flex-direction: row;
    }
    .img-content1-2{
        display: flex;
        border: 1px solid red;
        width: 50%;
        height: 100%;
    }
    .img-content1-2-3{
        display: flex;
        width: 50%;
        height: 100%;
        background-color: aquamarine;
    }
    .img-content1-2-3 img{
        width: 100%;
        height: 100%;
    }
    section.credit{
        display: flex;
        justify-content: center;
        overflow: hidden;
        background-color: #38553E;
        padding-top: 0px;
    }
    .box-credit{
        width: 100%;
        height: 700px;
        display: flex;
        justify-content: center;
    }
    .logo{
        width: 400px;
        height: 300px;
    }
    .logo img{
        width: 100%;
        height: 100%;
    }
}