body{
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #263919;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.topnavCenter {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
}
li a:hover {
    background-color: #0af82eec;
}
.position {
  display: block;
  position: relative;
  background-color: #263919;
  margin-top: 0;
  overflow: hidden;

}
.topRight {
    float: right;
    margin-top: 0;
    padding: 5px;
}
.position a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
.background {
    background-image: url("../img/DSC_5042.JPG");
    width: 100%;
    height: 720px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.introtext1{
    margin: 0;
}
.textpos{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: white;
    position: absolute;
    top: 300px;
    float: right;
    right: 200px;
}
.introtext2{
    position: relative;
    top: 0;
    right: 170px;
}
.black {
    position: absolute;
    left: 0;
    right: 0;
    top: 57px;
    bottom: 0;
    width: 100%;
    height: 720px;
    background-color: rgba(0, 0, 0, 0.514);
}
.info1{
    background-color: #263919;
}