body{
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #263919;
  }
  li {
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.topnavCenter {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
}
li a:hover {
    background-color: #0af82eec;
}
.position {
  display: block;
  position: relative;
  background-color: #263919;
  margin-top: 0;
  overflow: hidden;
}
.topRight {
    float: right;
    margin-top: 0;
    padding: 5px;
}
.position a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
.background {
    background-image: url("../img/DSC_5042.JPG");
    width: 100%;
    height: 720px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.textpos{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: white;
    position: absolute;
    top: 30%;
    left: 29.4%;
}
.introtext1{
    position: relative;
    top: 0%;
    left: 30%;
}
.black {
    position: absolute;
    left: 0;
    right: 0;
    top: 9.4%;
    bottom: 0;
    width: 100%;
    height: 721px;
    background-color: rgba(0, 0, 0, 0.514);
}
.info1{
    margin: 0;
    background-color: #263919;
}
.backinfo{
    position: relative;
    margin: 0;
}
.textinfo{
    position: relative;
    margin: 0;
}
.secondback{
    position: absolute;
    margin: 0;
    background-color: #799A78;
    width: 100%;
    height: 2160px;
}
.postittle2{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: white;
    position: absolute;
    top: 5%;
    left: 34%;
}
.date2{
    margin: 0;
    position: relative;
    left: 47%;
}
.boximage{
    position: relative;
    border: 1px solid black;
    width: 99.8%;
    height: 20%;
    margin: 0;
    position: absolute;
    top: 13%;
    left: 0%;
}
.img1{
    border: 1px solid black;
    width: 17%;
    height: 70%;
    background-color: white;
    position: relative;
    top: 9%;
    left: 15%;
}
.datebox1{
    border: 1px solid black;
    width: 99.5%;
    height: 8%;
    position: absolute;
    bottom: 0;
}
.img2{
    border: 1px solid black;
    width: 17%;
    height: 70%;
    background-color: white;
    position: absolute;
    top: 3%;
    left: 41%;
}
.datebox2{
    border: 1px solid black;
    width: 99.5%;
    height: 8%;
    position: absolute;
    bottom: 0;
}
.img3{
    border: 1px solid black;
    width: 17%;
    height: 70%;
    background-color: white;
    position: absolute;
    top: 9%;
    right: 15%;
}
.datebox3{
    border: 1px solid black;
    width: 99.5%;
    height: 8%;
    position: absolute;
    bottom: 0;
}
.next1{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 32.8%;
    position: absolute;
    top: 35%;
    right: 6%;
}
.next1:hover{
    background-color: #263919;
}