* {
    margin: 0;
    padding: 0;
}
.background {
    background-image: url("../img/pendaftaran.jpg");
    width: 100%;
    height: 720px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    left: 0;
}
.black {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.514);
}
.boxhijau{
    width: 400px;
    height: 450px;
    margin: 0 auto;
    background-color: rgb(46,139,87);
    opacity: 0.7;
}
.tittle{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: white;
    position: relative;
    right: 0;
    margin-bottom: 40px;
}
.tittle1pos{
    position: relative;
    right: 0;
    top: 10px;
    color: white;
    font-family: "Maiandra GD";
    font-size: 20px;
    letter-spacing: 10px;
}
.tittle2{
    color: white;
    position: relative;
    right: 0;
    text-align: center;
    line-height: 1.5;
    font-family: "Roboto";
    font-weight: 100;
}
.input1{
    position: relative;
    top: 20px;
    left: 20px;
}
input::placeholder{
    font-family: "Montserrat";
}
.input2{
    position: relative;
    top: 25px;
    left: 20px;
}
input[type=text],
input[type=password],
input[type=email]
    {
    margin-bottom: 10px;

}
input[type=date] {
    font-family: "Montserrat";;
}
input:focus{
    outline-color:rgb(173,255,47);
}

.datelabel{
    position: relative;
    top: 25;
    left: 0px;
    color: white;
}
.input3{
    position: relative;
    top: 25px;
    left: 20px;
    font-family: "Montserrat";
    font-weight: 100;
}
.input4{
    position: relative;
    top: 10%;
/*    left: 38%;*/
    float: right;
    margin-right: 140px;
}
.input5{
    color: white;
    position: relative;
    top: 30px;
    left: 20px;
    font-family: "Montserrat";
    font-weight: 100;
}
.tittle5{
    position: relative;
    left: 0px;
    top: 0px; 
}
.backlink{
    position: relative;
    top: 12%;
    right: 2%;
    color: white;

}
input {
    padding: 6px 4px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
button{
    background-color: rgb(46,139,87);
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    border-radius: 28px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 auto;
    cursor: pointer;
    font-family: "Montserrat";
}
button:hover{
    background-color: rgb(34 139 34);
}
.linkb{
    float: right;
    position: relative;
/*    top: 10px;
    left: 580px;*/
    font-family: "Montserrat";
    font-weight:400;
    text-align: center;
    margin-right: 400px;
    margin-top: 0.50px;
}
.linkb a:hover{
    color: rgb(46, 139, 87);
}

br{
    margin-bottom: 10px;
}

@media screen and (min-width: 2560px){
/*    .background{
        height: 1345px;
    }*/
    .linkb{
        margin-right: 900px;
    }
}

@media screen and (min-width:1440px){
    .linkb{
        margin-right: 580px;
    }
}

@media screen and (max-width: 1024px){
    .linkb{
        margin-right: 360px;
    }
}

@media screen and (max-width: 768px){
    .linkb{
        margin-right: 240px;
    }
}

@media screen and (max-width: 425px){
    .linkb{
        margin-right: 75px;
    }
    .background{
        width: 105%;
    }
}