@media screen and (min-width: 1024px) and (min-width: 1439px){   
    .box-content2-news{
        margin-left: 0%;
        margin-right: 4%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        border: 1px solid black;
        width: 100%;
        height: 210px;
    }
    .logo-credit{
       float: right;
       margin-right: -23%;
       border: 1px solid black;
       height: 300px;
       width: 300px;
    }
    .copyright{
        margin-left: -29%;
        margin-top: 70.5%;
        border: 1px solid black;
        width: 400px;
        height: 30px;
    }
}